h1 {
    text-align: center;
    color: blue;
    padding: 2px;
    background-color: burlywood;
}
p {
    color: blue;
    padding: 2px;
    background-color: burlywood;
}
h2{
    color: blue;
    padding: 2px;
    background-color: burlywood;
}