h1 {
    text-align: center;
    color: blue;
    padding: 2px;
    background-color: rgb(201, 196, 190);
}
p {
    color: blue;
    padding: 2px;
    background-color: burlywood;
}
h2{
    color: blue;
    padding: 2px;
    background-color: burlywood;
}
.errormsg{
    color: red;
}
.container {
    background-color: slategrey;
    padding: 5px;
}